/* Hide all slides by default */
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value to control the height of the container */
}

/* Fade animation for the slides */
.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
